animateimages==0.2.4
appnope==0.1.0
backcall==0.1.0
bleach==3.0.2
bolt-python==0.7.1
boto==2.49.0
bson==0.5.7
certifi==2018.10.15
chardet==3.0.4
cloudpickle==0.6.1
colorama==0.4.0
colorcet==0.9.1
colorlog==3.1.4
colormap==1.0.1
cvxopt==1.2.2
cycler==0.10.0
dask==0.20.0
decorator==4.3.0
easydev==0.9.37
entrypoints==0.2.3
enum34==1.1.6
future==0.17.1
gspread==0.6.2
h5py==2.8.0
httplib2==0.11.3
idna==2.7
ipykernel==5.1.0
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.2.0
jedi==0.13.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.3
mistune==0.8.4
mkl-fft==1.0.6
mkl-random==1.0.1
mpmath==1.0.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.2
neurom==1.4.10
nose==1.3.7
notebook==5.7.0
numexpr==2.6.8
numpy==1.15.4
numpy-groupies==0+unknown
oauth2client==4.1.3
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
patsy==0.5.1
pexpect==4.6.0
pickleshare==0.7.5
PICOS==1.1.3
Pillow==9.0.1
plotly==3.4.0
prometheus-client==0.4.2
prompt-toolkit==1.0.15
ptyprocess==0.6.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycircstat==0.0.2
pyerf==1.0.1
Pygments==2.2.0
pylru==1.1.0
pymongo==3.7.2
pyparsing==2.3.0
PySAL==1.14.4.post2
pyspark==2.3.2
pySparkUtils==0.2.5
python-dateutil==2.7.5
pytz==2018.7
PyWavelets==1.0.1
pywavesurfer==0.0.2
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.2
requests==2.20.0
retrying==1.3.3
rsa==4.0
scanimage-tiff-reader==1.4.1
scikit-image==0.14.1
scikit-learn==0.20.0
scikits.bootstrap==1.0.0
scipy==1.1.0
Send2Trash==1.5.0
simplegeneric==0.8.1
SimpleITK==1.1.0
six==1.11.0
statsmodels==0.9.0
sympy==1.3
tables==3.4.4
terminado==0.8.1
testpath==0.4.2
thunder-python==1.4.2
tifffile==2018.11.6
toolz==0.9.0
tornado==5.1.1
tqdm==4.28.1
traitlets==4.3.2
tsp-solver2==0.2
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.2.1
XlsxWriter==1.1.2
xmltodict==0.11.0
